

#ayah-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90%;
    min-height: 200px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #ebebeb;
}

/* Ayah-Anzeige */
#ayah-arabic, #previous-ayah, #following-ayah {
    font-size: 2em;
    font-weight: bold;
    color: #000;
    margin: 20px 0 5px;
    direction: rtl;
}

#ayah-english, #ayah-english-previous, #ayah-english-following {
    font-size: 1em;
    color: #2c2c2c;
    margin-bottom: 10px;
}

/* Mehr-Tools Liste */
#more-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
}

#more-tools li {
    background: #007bff;
    padding: 8px 12px;
    border-radius: 5px;
}

#more-tools li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#more-tools li:hover {
    background: #0056b3;
}
