/* Grundlegende Stile für die gesamte Seite */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Einstellungen (Dropdown) */
#settings-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

#anwser-container{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Ayah-Container */
.container {
    min-width: 50%;
    min-height: 120px;
    border: 1px solid black;
    padding: 15px;
    background-color: #ebebeb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* Ayah-Anzeige */
.container p {
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    margin: 5px 0;
    direction: rtl; /* Arabischer Text richtig ausrichten */
}

